@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{
    --dark-blue: #145DA0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(46,139,192);
    background-image: linear-gradient(225deg, rgba(46,139,192,1) 0%, rgba(20,93,160,1) 100%);
    height: 100vh;
    font-family: 'Bebas Neue', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background: #fff;
    border-radius: 40px;
    height: 700px;
    width: 310px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading{
    color: var(--dark-blue);
    font-size: 120px;
}

.btn-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    height: 100;
}

/* !FIXXXX BTN SO THAT THE REST CAN FIT IN */
.btn{
    background-color: var(--dark-blue);
    color: white;
    outline: none;
    border: none;
    padding: 0.8em 2em;
    border-radius: 25px;
    margin: 1em 0;
}

.login-btn{
    cursor: pointer;
}

.field::placeholder{
    color: white;
}

.field:focus::placeholder{
    color: transparent;
}

.footer-container{
    margin-top: 90px;
}

.footer{
    padding: 40px 0;
    color: var(--dark-blue);
}

.footer span{
    text-decoration: underline;
}

.footer span:hover{
    color: #0a2b4b;
    cursor: pointer;
}

/* DESKTOP */
@media (min-width:460px){
    .container{
        width: 700px;
        height: 680px;
    }

    .btn{
        width: 100%;
    }
    .btn-container{
        width: 400px;
    }

    .footer{
        margin-top: -40px;
        font-size: 26px;
    }

    .field::placeholder{
        font-size: 20px;
    }

    .btn{
        font-size: 20px;
    }

    .heading{
        margin-top: 40px;
    }
}