@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

html{
    overflow-x: hidden;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #f5f3f4;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.banner{
    width: 100%;
    background-color: #161a1d !important; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
}

.text-container{
    position: absolute;
}

.name-heading{
    margin: 0px;
    color: #BA181B;
    font-size: 6em;
    cursor: pointer;
    transition: 0.1s ease;
}
.name-heading:hover{
    text-shadow: 0px 8px 8px #bd2217;
    transform: translateY(-0.14em);
}

.picture{
    background-color: #161a1d; 
    height: 810px;
    opacity: 30%;
}


nav{
    width: 100%;
    background-color: #BA181B !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 5em;
}

ul{
    list-style-type: none;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    width: 600px;
}

a{
    color: white;
    text-decoration: none;
    font-size: 1.4em;
    font-weight: 100;
}